.test-box {
    border-left: 3px solid grey;
    border-right: 3px solid grey;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    padding: 5px;
    background-color: #ddd;
    flex: auto;
}

header {
    background-color: #666;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
}

strong {
    font-weight: bold;
}

img {
    height: 485px;
    width: 485px;
    border-radius: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.row {
    display: flex;
}

.column {

    flex: 1;
    padding: 5px;

}

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    background: #ddd;
}

/* cascading */
nav ul {
    list-style-type: none;
    padding: 0px;
}
/* cascading */
nav ol {
    list-style-type:circle; 
    padding-left: 20px;
}

footer {
    background-color: #777;
    padding: 20px;
    text-align: left;
    color: white;
}

@media (max-width: auto) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}